table {
  margin-bottom: 3em;
  width: 60vw;
}

table thead {
  background-color: lightgray;
  text-align: center;
}

thead th {
  padding: 9px;
}

tbody td {
  padding: 3px 9px;
  white-space: nowrap;
}

tbody tr:nth-child( even ) {
  background-color: whitesmoke;
}
