table {
  margin-bottom: 3em;
}

.main-details {
  margin: 0 auto;
  max-width: 90vw;
}

.main-details table, .order-details-header {
  margin: 0 auto;
}

.order-details-header {
  align-items: center;
  background-color: #fdfdf8;
  border: solid 1px lightgrey;
  border-radius: 6px;
  box-shadow: 0 0 9px lightgrey;
  color: #1b1c33;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 0.6em;
  width: 60vw;
}


td, th {
  box-shadow: 0 0 4px lightgrey;
}

thead th {
  background-color: #fdfdf8;
  color: #1b1c33;
  padding: 9px;
}

tbody td {
  height: 1.3em;
  padding: 3px 9px;
  white-space: nowrap;
}

tbody tr:nth-child( even ) {
  background-color: whitesmoke;
}

tbody tr td:nth-child( 1 ) {
  background-color: #28c641;
}

table button {
  background-color: #d32734;
  border: none;
  border-radius: 3px;
  color: #fdfdf8;
  display: block;
  font-weight: 600;
  height: 100%;
  width: 100%;
}

.total-value {
  font-weight: 600;
  margin: 1em 6em 0 auto;
  padding: 0.6em 1em;
  width: max-content;
}

.checkout-form input, .checkout-form select {
  height: 2em;
  margin-left: 0.5em;
}

.checkout-form button {
  background-color: #28c641;
  border: none;
  border-radius: 6px;
  color: #1b1c33;
  font-weight: 900;
  height: 2.5em;
  margin: 0;
  padding: 0 1em;
}

.checkout-form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 9px;
}

