.loginComponent {
  margin-top: 150px;
}

.loginForm {
  align-items: center;
  background-color: #2d93dd;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  height: 40vh;
  justify-content: space-evenly;
  margin: auto;
  width: 25%;
}

.buttons {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.buttons button {
  border: none;
  border-radius: 4px;
  font-weight: 600;
  height: 2em;
  margin-bottom: 0.6em;
}

.inputs {
  align-content: center;
  display: flex;
  flex-flow: column nowrap;
  height: 60px;
  justify-content: space-evenly;
  width: 180px;
}

.inputs input {
  border: none;
  border-radius: 4px;
  margin-bottom: 0.6em;
  padding: 0.6em;
}

.warning {
  color: #ee230c;
  font-size: 12px;
  text-align: center;
}

