.loginComponent {
  margin-top: 150px;
}

.loginForm {
  align-items: center;
  background-color: #44b2c0;
  border-radius: 8%;
  display: flex;
  flex-flow: column nowrap;
  height: 200px;
  justify-content: space-evenly;
  margin: auto;
  width: 25%;
}

.buttons {
  display: flex;
  flex-flow: column nowrap;
  height: 60px;
  justify-content: space-evenly;
  width: 150px;
}

.inputs {
  align-content: center;
  display: flex;
  flex-flow: column nowrap;
  height: 60px;
  justify-content: space-evenly;
  width: 180px;
}

.warning {
  color: #ee230c;
  font-size: 12px;
  text-align: center;
}

