.order-details-header {
  align-items: center;
  background-color: #fdfdf8;
  border: solid 1px lightgrey;
  border-radius: 6px;
  box-shadow: 0 0 9px lightgrey;
  color: #1b1c33;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 0.6em;
  width: 60vw;
}

.order-details-header button {
  background-color: #28c641;
  border: none;
  border-radius: 6px;
  color: #1b1c33;
  font-weight: 600;
  height: 2.5em;
}

.order-details-header button:disabled {
  background-color: #7dc788;
  color: #45454e;
}

table {
  margin-bottom: 3em;
  width: 60vw;
}

table thead {
  background-color: lightgray;
  text-align: center;
}

thead th {
  padding: 9px;
  word-break: keep-all;
}

tbody td {
  padding: 3px 9px;
}

tbody tr:nth-child( even ) {
  background-color: whitesmoke;
}
